<!-- app/views/hai.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Static Page</title>
  </head>
  <body>
    <h1>Hello, this is a static page!</h1>
    <p>Welcome to our static page.</p>
    <p>Hai</p>
  </body>
</html>
